server {
    listen 80;
    server_name {{ static_project_host_name }};

{% if static_proxy_ssl %}
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ static_project_host_name }};

    ssl on;
    ssl_certificate {{ letsencrypt_chain }};
    ssl_certificate_key {{ letsencrypt_private_key }};

    include snippets/sslparams.conf;
{% endif %}

    charset utf-8;
    client_max_body_size 75M;

    location ~ /\. {
        return 404;
    }

    {% if static_proxy_robots_txt is defined %}
    location /robots.txt {
        alias /srv/{{ static_project_name }}.robots.txt;
    }
    {% endif %}

    location / {
        {% if static_proxy_auth_basic_user is defined and static_proxy_auth_basic_pass is defined %}
        auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
        {% endif %}

        alias {{ static_project_remote_dir }}/;
    }
}
