#!/bin/bash

VERBOSE=0

if [ $VERBOSE -eq 1 ]
then
  echo Backing up {{ django_project_name }}
fi

DUMP_TIMESTAMP=$(date +%A_%H)

{% if django_database_postgresql %}

if [ $VERBOSE -eq 1 ]
then
  echo Running backup command
fi
pg_dump {{ django_database_name }} --format=custom --no-privileges --username={{ django_database_user }} --no-password --file="{{ django_repo_dir }}backups/{{ django_database_name }}_$DUMP_TIMESTAMP.sql"

{% elif django_database_sqlite %}

if [ $VERBOSE -eq 1 ]
then
  echo Activating VENV
fi
source {{ django_project_venv_dir }}bin/activate

if [ $VERBOSE -eq 1 ]
then
  echo Running backup command
fi
python manage.py dumpdata --format json --natural-foreign --natural-primary --output "{{ django_repo_dir }}backups/{{ django_database_name }}_$DUMP_TIMESTAMP.json"

if [ $VERBOSE -eq 1 ]
then
  echo Deactivating VENV
fi
deactivate

{% endif %}

if [ $VERBOSE -eq 1 ]
then
  echo Done backing up {{ django_project_name }}
fi
