[Unit]
Description={{ django_project_name }} Celery Worker
After=syslog.target

[Service]
User={{ main_user_name }}
Group={{ main_user_name }}
ExecStart={{ django_project_venv_dir }}bin/celery multi start {{ django_celery_worker_nodes }} -A {{ django_celery_app_name }} --pidfile={{ django_celery_worker_pid_file }} --logfile={{ django_celery_worker_log_file }} --loglevel=info {% if django_celery_worker_max_memory_per_child is defined %}--max-memory-per-child={{ django_celery_worker_max_memory_per_child }}{% endif %} --concurrency={{ django_celery_worker_concurrency }}
ExecStop={{ django_project_venv_dir }}bin/celery multi stopwait {{ django_celery_worker_nodes }} --pidfile={{ django_celery_worker_pid_file }}
ExecReload={{ django_project_venv_dir }}bin/celery multi restart {{ django_celery_worker_nodes }} -A {{ django_celery_app_name }} --pidfile={{ django_celery_worker_pid_file }} --logfile={{ django_celery_worker_log_file }} --loglevel=info {% if django_celery_worker_max_memory_per_child is defined %}--max-memory-per-child={{ django_celery_worker_max_memory_per_child }}{% endif %} --concurrency={{ django_celery_worker_concurrency }}
WorkingDirectory={{ django_project_dir }}
Restart=always
KillSignal=SIGQUIT
Type=forking
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
