[Unit]
Description={{ django_project_name }} Celery Beat
After=syslog.target

[Service]
User={{ main_user_name }}
Group={{ main_user_name }}
ExecStart={{ django_project_venv_dir }}bin/celery beat -A {{ django_celery_app_name }} --pidfile={{ django_celery_beat_pid_file }} --logfile={{ django_celery_beat_log_file }} --loglevel=info --scheduler=django_celery_beat.schedulers:DatabaseScheduler
WorkingDirectory={{ django_project_dir }}
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
