[Unit]
Description={{ django_project_name }} ASGI Server
After=syslog.target

[Service]
User={{ main_user_name }}
Group={{ main_user_name }}
WorkingDirectory={{ django_project_dir }}
ExecStart={{ django_project_venv_dir }}bin/daphne --bind 127.0.0.1 --port {{ django_proxy_asgi_port }} {{ django_proxy_asgi_module }}
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
