server {
    listen 80;
    server_name {{ django_project_host_name }};

{% if django_proxy_ssl %}
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ django_project_host_name }};

    ssl on;
    ssl_certificate {{ letsencrypt_chain }};
    ssl_certificate_key {{ letsencrypt_private_key }};

    include snippets/sslparams.conf;
{% endif %}

    charset utf-8;
    client_max_body_size 75M;

    {% if django_settings_media_url is defined and django_settings_media_dir is defined %}
    location {{ django_settings_media_url }} {
        alias {{ django_settings_media_dir }};
    }
    {% endif %}

    {% if django_settings_static_url is defined and django_settings_static_dir is defined %}
    location {{ django_settings_static_url }} {
        alias {{ django_settings_static_dir }};
    }
    {% endif %}

    {% if django_proxy_robots_txt is defined %}
    location /robots.txt {
        alias /srv/{{ django_project_name }}.robots.txt;
    }
    {% endif %}

    location / {
        {% if django_proxy_auth_basic_user is defined and django_proxy_auth_basic_pass is defined %}
        auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
        {% endif %}

        {% if django_proxy_wsgi %}
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:{{ django_proxy_wsgi_port }};
        {% endif %}

        {% if django_proxy_asgi %}
        proxy_ignore_client_abort on;
        proxy_pass http://127.0.0.1:{{ django_proxy_asgi_port }};
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        {% endif %}
    }
}
