[Unit]
Description={{ django_project_name }} WSGI Server
After=syslog.target

[Service]
User={{ main_user_name }}
Group={{ main_user_name }}
WorkingDirectory={{ django_project_dir }}
ExecStart={{ django_project_venv_dir }}bin/uwsgi --socket 127.0.0.1:{{ django_proxy_wsgi_port }} --chdir {{ django_project_dir }} --module {{ django_proxy_wsgi_module }} --home {{ django_project_venv_dir }} --master --processes {{ django_proxy_wsgi_processes }} --vacuum
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
