check system $HOST
    if loadavg (1min) > 4 then alert
    if loadavg (5min) > 2 then alert
    if cpu usage > {{ item.cpu_usage }} for {{ item.cpu_cycles }} cycles then alert
    if memory usage > {{ item.memory_usage }} then alert
    if swap usage > {{ item.swap_usage }} then alert
