check process {{ item.filename }} {% if item.pidfile is defined %}with pidfile {{ item.pidfile }}{% elif item.matching is defined %}matching {{ item.matching }}{% else %}matching {{ item.process }}{% endif %}
    start program = "/bin/systemctl start {{ item.process }}.service"
    stop program = "/bin/systemctl stop {{ item.process }}.service"
    {% if item.host is defined and item.port is defined and item.protocol is defined %}
    if failed host {{ item.host }} port {{ item.port }} and protocol {{ item.protocol }} then restart
    {% endif %}
    {% if item.cpu is defined and item.cpu_cycles is defined %}
    if cpu > {{ item.cpu }} for {{ item.cpu_cycles }} cycles then alert
    {% endif %}