check host {{ item.filename }} with address {{ item.domain }}
{% for frontpage in item.frontpages %}
    {% if item.ssl %}
        if failed
            port 443{% if item.timeout is defined %} timeout {{ item.timeout }} seconds{% endif %}{% if item.retry is defined %} retry {{ item.retry }}{% endif %} protocol https
            with http headers [Host: {{ item.domain }}, Cache-Control: no-cache]
            and request {{ frontpage }}
        then alert
        {% if item.ssl_expires is defined %}
            if failed
                port 443{% if item.timeout is defined %} timeout {{ item.timeout }} seconds{% endif %}{% if item.retry is defined %} retry {{ item.retry }}{% endif %} protocol https
                with http headers [Host: {{ item.domain }}, Cache-Control: no-cache]
                and request {{ frontpage }} and certificate valid > {{ item.ssl_expires }} days
            then alert
        {% endif %}
    {% endif %}
    if failed
        port 80{% if item.timeout is defined %} timeout {{ item.timeout }} seconds{% endif %}{% if item.retry is defined %} retry {{ item.retry }}{% endif %} protocol http{% if item.ssl %} status 301{% endif %}
        with http headers [Host: {{ item.domain }}, Cache-Control: no-cache]
        and request {{ frontpage }}
    then alert
{% endfor %}
