{% if monit_proxy_port is defined %}
server {
    listen {{ monit_proxy_port }}{% if monit_proxy_ssl %} ssl http2{% endif %};
    server_name {{ monit_proxy_host_name }};

{% if monit_proxy_ssl %}
    ssl on;
    ssl_certificate {{ letsencrypt_chain }};
    ssl_certificate_key {{ letsencrypt_private_key }};

    include snippets/sslparams.conf;

    error_page 497 https://$server_name:$server_port$request_uri;
{% endif %}

    charset utf-8;
    client_max_body_size 75M;

    location / {
        proxy_ignore_client_abort on;
        proxy_pass http://127.0.0.1:{{ monit_config_http_port }};
        proxy_set_header Host $host;
    }
}
{% else %}
server {
    listen 80;
    server_name {{ monit_proxy_host_name }};
{% if monit_proxy_ssl %}
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ monit_proxy_host_name }};

    ssl on;
    ssl_certificate {{ letsencrypt_chain }};
    ssl_certificate_key {{ letsencrypt_private_key }};

    include snippets/sslparams.conf;
{% endif %}

    charset utf-8;
    client_max_body_size 75M;

    location / {
        proxy_ignore_client_abort on;
        proxy_pass http://127.0.0.1:{{ monit_config_http_port }};
        proxy_set_header Host $host;
    }
}
{% endif %}
