# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = False

# Email
EMAIL_HOST = 'localhost'
EMAIL_PORT = 25
DEFAULT_FROM_EMAIL = '{{ flask_settings_from_email }}'

ADMINS = [{% for admin in flask_settings_admins %}
    '{{ admin.name }} <{{ admin.email }}>',
{% endfor %}]
