[Unit]
Description={{ flask_project_name }} WSGI Server
After=syslog.target

[Service]
User={{ main_user_name }}
Group={{ main_user_name }}
WorkingDirectory={{ flask_project_dir }}
ExecStart={{ flask_project_venv_dir }}bin/uwsgi --socket 127.0.0.1:{{ flask_proxy_wsgi_port }} --chdir {{ flask_repo_dir }} --module {{ flask_proxy_wsgi_module }} --home {{ flask_project_venv_dir }} --master --processes {{ flask_proxy_wsgi_processes }} --vacuum
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
