server {
    listen 80;
    server_name {{ flask_project_host_name }};

{% if flask_proxy_ssl %}
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl http2;
    server_name {{ flask_project_host_name }};

    ssl on;
    ssl_certificate {{ letsencrypt_chain }};
    ssl_certificate_key {{ letsencrypt_private_key }};

    include snippets/sslparams.conf;
{% endif %}

    charset utf-8;
    client_max_body_size 75M;

    {% if flask_settings_static_url is defined and flask_settings_static_dir is defined %}
    location {{ flask_settings_static_url }} {
        alias {{ flask_settings_static_dir }};
    }
    {% endif %}

    {% if flask_proxy_robots_txt is defined %}
    location /robots.txt {
        alias /srv/{{ flask_project_name }}.robots.txt;
    }
    {% endif %}

    location / {
        {% if flask_proxy_auth_basic_user is defined and flask_proxy_auth_basic_pass is defined %}
        auth_basic "Restricted Content";
        auth_basic_user_file /etc/nginx/.htpasswd;
        {% endif %}

        include uwsgi_params;
        uwsgi_pass 127.0.0.1:{{ flask_proxy_wsgi_port }};
    }
}
